:root {
  --bg: rgb(16, 15, 23);
  --clr: rgb(228, 216, 4);
}

body {
  color: white;
  background-color: var(--bg);
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.header ul,
li,
a {
  text-decoration: none;
  list-style: none;
  color: inherit;
  padding: 0;
  margin: 0;
}

.header nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1vw 6vw;
}

.header ul {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2vw;
}

.logo {
  height: 50px;
}

.hello {
  color: red;
}

h1 {
  color: brown;
  font-family: sans-serif;
}

.wrapper {
  margin: 0;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  flex: 1;
  min-height: 100vh;
}

.card {
  width: 17%;
  border: 1px solid pink;
  height: max-content;
  margin: 1vw;
  transition: all 0.5s ease-in-out;
}

.card:hover {
  transform: scale(1.1);
}

.image-movie {
  width: 100%;
}

.button-wrapper {
  display: flex;
  flex: 1;
  justify-content: center;
  padding: 0.5rem;
  background-color: var(--clr);
  color: var(--bg);
  font-weight: 700;
  font-size: larger;
}

.movie-title {
  margin: 0;
}

.title-heart-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  gap: 0.25rem;
  padding: 0.5rem;
}

.like-number {
  font-size: 1.3rem;
}

.heart {
  font-size: 1.25rem;
}

.footer {
  font-size: larger;
  padding: 1vw 0;
  display: flex;
  justify-content: center;
}

.footer a {
  color: var(--clr);
}

.fa-heart {
  cursor: pointer;
}

.fa-heart:hover {
  color: red;
}

.show-counter {
  font-size: 1.5rem;
  transition: all 0.5s ease-in-out;
}

.counter {
  font-size: 1.5rem;
}

.counter-wrapper {
  transition: all 0.5s ease-in-out;
}

.counter-wrapper:hover {
  text-decoration: underline;
}
